extends layouts/mainPart.pug

block content
    var result = window.confirm("Are you sure to logout?")
    if (result){
        window.location.href=routes.logout
    }
    else{
        window.location.href=routes.home
    }
    p LogOut
    